/* app css stylesheet */
body {
    background-image: url("img/IMG_1862.JPG");
    background-size: cover;
    background-repeat: no-repeat;
}
.header {
    background-color: #000000;
    opacity: .7;
    height: 60px;
    line-height: 60px;
    width: 100%;
    margin: 0 auto;
}
.overlay {
    background-color: rgba(255, 255, 255, 0.5);
    height: inherit;
}
.menu-item {
    float:left;
    width:20%;
    text-align: center;
}
.menu-item-text {
    color: white;
    text-decoration: none;
}

.menu-item-text:hover {
    text-shadow: 0 0 0.2em #8F7, 0 0 0.2em #8F7, 0 0 0.2em #8F7
}
.heading-text {
    font-size: 24pt;
    text-align: center;
}

/* effects */

div.window {
    float:left;
    width: 20%;
    text-align: center;
}
div.window label {
    color: white;
}
div.window label:hover {
    cursor: pointer;
    text-shadow: 0 0 0.2em #8F7, 0 0 0.2em #8F7, 0 0 0.2em #8F7
}
input.toggle:checked + label { color:yellow; }
input.toggle { display: none; }

.slidedown {
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    top: 120px;
    left: 120px;
    width: 500px;
    height: 700px;
}
.slidedown.ng-enter,
.slidedown.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.slidedown.ng-enter {
    top: -100%;
}
.slidedown.ng-enter-active {
    top: 120px;
    left: 120px;
    width: 500px;
    height: 700px;
}
.slidedown.ng-leave {
    top: 120px;
    left: 120px;
    width: 500px;
    height: 700px;
}
.slidedown.ng-leave-active {
    top: 100%;
}

