<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kristle & Matt</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="app.css">
    <link rel="shortcut icon" href="img/favicon.ico">
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>

</head>
<body>


<div class="header" > <!-- ng-controller="MenuController as menu">  -->
    <div class="menu-item"><a href="#/our_story" class="menu-item-text">OUR STORY</a></div>
    <div class="menu-item"><a href="#/gallery" class="menu-item-text" >GALLERY</a></div>
    <div class="menu-item"><a href="#/registry" class="menu-item-text" >REGISTRY</a></div>
    <div class="menu-item"><a href="#/event_info" class="menu-item-text" >EVENT INFO</a></div>
    <div class="menu-item"><a href="#/rsvp" class="menu-item-text" >RSVP</a></div>
<!--
    <div class="window">
        <input type="radio" class="toggle" id="event_info" value="event_info "name="menu" ng-model="menu.selection" ng-change="menu.changeView()">
        <label for="event_info">EVENT INFO</label>
    </div>
    <div class="window">
        <input type="radio" class="toggle" id="rsvp" value="rsvp "name="menu" ng-model="menu.selection" ng-change="menu.changeView()">
        <label for="rsvp">RSVP</label>
    </div>

    <div style="color:white"> color = {{menu.selection | json}}</div>
    -->
</div>
<div> <img src="img/names.png" class="names" /></div>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div ng-view class="slidedown"></div>

<div class="date"> <img src="img/date.png" class="date" /></div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="app.js"></script>
<script src="our_story/our_story.js"></script>
<script src="gallery/gallery.js"></script>
<script src="registry/registry.js"></script>
<script src="event_info/event_info.js"></script>
<script src="rsvp/rsvp.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>


</body>
</html>
